name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    tags:
      - "*"

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Restore NuGet packages
      run: nuget restore reisApplicatie.sln

    - name: Build the application
      run: dotnet publish -r win-x64 --configuration Release -o ReisApplicatie/bin/Release/netcoreapp3.1/win-x64/publish/

    - name: Upload artifact - Windows
      uses: actions/upload-artifact@v1.0.0
      with:
        name: ReisApplicatie
        path: ReisApplicatie/bin/Release/netcoreapp3.1/win-x64/publish/

    - name: Zip release
      run: powershell Compress-Archive ReisApplicatie/bin/Release/netcoreapp3.1/win-x64/publish/ ReisApplicatie.zip

    - name: Make Release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        files: |
          ReisApplicatie.zip
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}